.counter {
    justify-content: space-around;
    align-items: center;
    color: rgb(184, 123, 241);
}

.counter button {
    color: inherit; 
    background-color: rgb(155, 18, 155);
    border-radius: 10px;
}